/* Impostazioni di Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #434851;

}

/* Body Features */

body{
    background-color: #F6F8F9;

}

.white-background{
    background-color: white;

}

/* Header */

header{
    padding: 10px 30px;
    margin-bottom: 50px;
}

img{
    height: 65px;
}

/* Main */

main{
    width: 70%;
    margin: 0 auto;
}

section{
    padding: 0 60px;
}

#button-section{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #F6F8F9;
}

#ul-section{
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 0 0 10px 10px;


}

/* Button Style */

.button{

    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid lightgray;
    font-size: 15px;
    margin-right: 1px;
    color: black;

}

#selected{
    background-color: #14AAF5;
    border: 2px solid #14AAF5;

}


/* Section List style */

h2{
    margin-bottom: 10px;
}


.check{
    display: inline-block;
    color: #2CC6AB;
    height: 20px;
    width: 20px;
    border: 1px solid #2CC6AB;
    border-radius: 100%;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
    margin-right: 10px;
}

ul{
    list-style: none;
    font-size: 18px;
    margin-bottom: 25px;
}

li{

    margin-bottom: 15px;

}

.tag{
    background-color: gray;
    color: white;
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 20px;

}

.cross{
    display: inline-block;
    color: #e81313;
    height: 20px;
    width: 20px;
    border: 1px solid #e81313;
    border-radius: 100%;
    text-align: center;
    line-height: 18px;
    font-size: 11px;
    margin-right: 10px;
}

.editorial{
    background-color: #14AAF5;

}

.q1-goals{
    background-color: #AB5DE6;

}

.recruiting{
    background-color: #2CC6AB;

}

.mobile{
    background-color: #FF9B00;

}

.website{
    background-color:#EC4A9D;

}

.sales{
    background-color: #A3D116;

}








