/* Impostazioni di Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

/* Body Features */

body{
    background-color: #F6F8F9;

}

.white-background{
    background-color: white;

}

/* Header */

header{
    padding: 10px 30px;
    margin-bottom: 50px;
}

img{
    height: 65px;
}

/* Main */


