/* Impostazioni di Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #434851;

}

/* Body Features */

body{
    background-color: #F6F8F9;

}

.white-background{
    background-color: white;

}

/* Header */

header{
    padding: 10px 30px;
    margin-bottom: 50px;
}

img{
    height: 65px;
}

/* Main */

main{
    width: 70%;
    margin: 0 auto;
}

section{
    padding: 0 60px;
}

#button-section{
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #F6F8F9;
}

#ul-section{
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 0 0 10px 10px;


}

/* Button Style */

.button{

    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid lightgray;
    font-size: 15px;
    margin-right: 1px;
    color: black;

}

#selected{
    background-color: #14AAF5;
    border: 2px solid #14AAF5;

}




